[user]
name = Arpit Batra
# Don't allow commits without setting up name and email
useConfigOnly = true

[core]
excludesfile = ~/.gitignore
# mac os is case insensitive, 
# but that can make file renames with just a case change problematic on case sensitive file systems such as linux
ignorecase = false

[push]
# Set upstream to current while pushing new branches
# This assumes that the remote and local branches have the same name, which is often in my case
# helps with just doing git push -u, on a new branch
default = current

[pull]
# rebase while pulling
rebase = false
[init]
	defaultBranch = main
